body {
    font-family: 'Montserrat';font-size: 22px;
    text-shadow: 2px 2px 1px rgb(119, 119, 119);
} 
#sliderstyle {
  position: relative;
  top: -100px; left: 0px;
}
#buy {
  position: relative;
  top: 20px; left: -200px;
  border-radius: 75px;
  background: #16913a;
  padding: 20px; 
  width: 250px;
  height: 50px; 
  margin: auto;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 
#sell {
  position: relative;
  top: -70px; left: 200px;
  border-radius: 75px;
  background: #700a08;
  padding: 20px; 
  width: 250px;
  height: 50px; 
  margin: auto;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 
.link-cover {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit; /* Inherit text color */
}
.link-cover:hover {
      opacity: 0.1; /* Optional: visual feedback on hover */
}
#buy, #sell {
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

#buy:hover {
  background: #0e6a2d;
  border: 2px solid #ffffff;
  opacity: 0.9;
  transform: scale(1.05);
}

#sell:hover {
  background: #4f0604;
  border: 2px solid #ffffff;
  opacity: 0.9;
  transform: scale(1.05);
}
p {
  font-size: 3.5em; /* 14px/16=0.875em */
  position: relative;
  top: -100px; left: 35px;
}
#frame {
  position: relative;
  top: 0px; left: 0px;
  border-radius: 75px;
  background: #0a0a0a;
  padding: 20px; 
  width: 600px;
  height: 600px; 
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset, rgba(125, 17, 212, 0.3) 0px 30px 60px -30px, rgba(125, 17, 212, 0.3) 0px -2px 6px 0px inset;
} 
#text1 {
  position: relative;
  top: -50px; left: 0px;
}
.chart {
  background: none;
  position: relative;
  top: 50px; left: 50px;
  width: 500px;
  height: 500px;
  border-left: 1px none;
  border-bottom: 1px none;
  padding: 20px 20px 20px 0;
  margin: auto;
}
#frame2 {
  opacity: 0;
  position: relative;
  top: -870px; left: 0px;
  border-radius: 75px;
  background: #0a0a0a;
  padding: 20px; 
  width: 600px;
  height: 600px; 
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset, rgba(125, 17, 212, 0.3) 0px 30px 60px -30px, rgba(125, 17, 212, 0.3) 0px -2px 6px 0px inset;
} 
#valdis {
 position: relative;
 top: -1000px; left: 500px;

} 